body {
    font-family: 'Bitter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    background-color: #111;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

/* .logo-svg, */ .more-svg {
    width: 48px;
    height: 48px;
    fill: #fff;
}

/*.logo-svg {
    float: left;
    margin: 4px;
}
.logo-label {
    display: none;
} */

.more-svg {
    display: block;
}

.container {
    max-width: 60em;
    margin: 0 auto;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(17, 17, 17, 0);
    z-index: 1;
}

.nav > .container {
    display: flex;
}

.nav-links {
    margin-left: auto;
    padding: 0 8px;
}

.nav-link {
    display: inline-block;
    line-height: 56px;
    padding: 0 8px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(https://source.unsplash.com/featured?nature);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(90%) brightness(40%);
}

.header-title {
    font-size: 8vw;
    font-weight: normal;
}

.header-title-special {
    font-weight: bold;
    background-color: #fff;
    color: #111;
    margin-left: 4px;
    padding: 0 12px;
}

.header-more-link {
    position: absolute;
    bottom: 0;
    padding: 16px;
}

.header-more-link > svg {
    margin: 0 auto;
}

.animation-1, .animation-2, .animation-3, .animation-4, .animation-5 {
    display: inline-block;
    opacity: 0;
}
.animation-1 {
    animation: show 0.5s 0.5s forwards;
}
.animation-2 {
    animation: show 0.5s 1s forwards;
}
.animation-3 {
    animation: show 0.5s 1.5s forwards;
}
.animation-4 {
    animation: show 0.5s 2s forwards;
}
.animation-5 {
    animation: show 0.5s 2.5s forwards;
}

@keyframes show {
    from {
        transform: translateY(8px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #111;
}

.section-image {
    padding-top: 75%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-content {
    padding: 6vw;
}

.footer {
    padding: 16px;
}

@media (min-width: 1024px) {
    /* .logo-svg {
        margin-right: 20px
    }
    .logo-label {
        display: inline;
    } */

    .header-title {
        font-size: 5vw;
    }
    .section {
        flex-direction: row;
    }
    .section-image {
        width: 60%;
        padding-top: 0;
    }
    .section-content {
        width: 40%;
    }
    .footer {
        padding: 32px;
        text-align: center;
    }
}
